# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Generated / large outputs
runs/
data/raw_video/
data/raw_frames/
data/test_frames/
data/labels_fish_boxes/

# Generated fish crops / extracted images
data/crops_fish/
data/crops_good/
data/crops_bad/
data/selected_frames/
data/frames/

# UI build output
src/build/
src/dist/
src/*.spec

# Datasets
datasets/
Legacy Data/

# Model weights
*.pt

# OS
Thumbs.db
.DS_Store